html{
    font-family: 'lobster', sans-serif;
}
p{
    text-transform: uppercase;
    font-style:italic;
    font-size:30px;
    font-weight:900;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    text-shadow: 5px 5px 5px red;
    text-indent:5rem;
}
p::first-letter {
    font-family: cursive;
    font-size: 10rem;
    line-height: .5;
    color:green;
}

p::first-line {
    color: red;
    font-weight: 900;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: underline;
}