div{
    width: 150px;
    height: 50px;
    border:1px solid black;
    border-radius: 50px;
    display: inline-block;
}


.kaj1{
    background-color: blue;
}
.kaj2{
    background-color: green;
}
.kaj3{
    background-color: yellow;
}
.kaj4{
    background-color: red;
}